input[type="button"] {
    display: none;
    opacity: 0;
    background: transparent;
    background-color: rgb(255, 255, 255);
}
#coeur{
    color: red;
    margin-top: 10px;
    font-size: 30px;
    cursor: pointer;
    width: 100px;
}

p{
    color: black;
}